*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
scroll-behavior:smooth;
}

body{
background:#0b0b0b;
color:#fff;
line-height:1.6;
overflow-x:hidden;
}

header{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(15,15,15,.85);
backdrop-filter:blur(15px);
border-bottom:1px solid rgba(212,175,55,.2);
z-index:1000;
}

.logo{
font-size:34px;
font-weight:700;
letter-spacing:5px;
color:#d4af37;
}

nav{
display:flex;
gap:35px;
}

nav a{
text-decoration:none;
color:#fff;
font-size:17px;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#d4af37;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:0 20px;
background:
linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.75)),
url("https://images.unsplash.com/photo-1594035910387-fea47794261f?w=1800");
background-size:cover;
background-position:center;
}

.hero-content{
max-width:850px;
}

.hero h1{
font-size:72px;
letter-spacing:6px;
margin-bottom:20px;
color:#fff;
}

.hero p{
font-size:24px;
color:#ddd;
margin-bottom:45px;
}

.hero-buttons{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.btn,
.btn2{
display:inline-block;
padding:16px 38px;
border-radius:10px;
font-size:18px;
font-weight:bold;
text-decoration:none;
transition:.35s;
}

.btn{
background:#d4af37;
color:#000;
}

.btn:hover{
transform:translateY(-5px);
box-shadow:0 10px 30px rgba(212,175,55,.4);
}

.btn2{
border:2px solid #d4af37;
color:#d4af37;
}

.btn2:hover{
background:#d4af37;
color:#000;
transform:translateY(-5px);
}
